{% embed 'partials/base.html.twig' %}
	{% block content %}

		{# Play page audio #}
		{% if page.header.audio %}
			<audio autoplay src="{{ url('theme://static/audio/'~page.header.audio~'.mp3') }}"></audio>
		{% endif %}

    <div id="verse-text">
      {% if page.header.lines == "3" %}
      <img src="{{ url('theme://static/images/verse_3_line.jpg') }}"/>
      {% elseif page.header.lines == "4" %}
      <img src="{{ url('theme://static/images/verse_4_line.jpg') }}"/>
      {% endif %}
		</div>
      <a href="{{ page.header.link }}"><div id="rings"></div></a>

	{% endblock %}
{% endembed %}

[:1]|lower
